<a href="https://colab.research.google.com/github/Varqina/BasicCoursePython/blob/master/01_wprowadzenie/pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

Pandas Series

In [3]:
s = pd.Series(data=[3,2,4,6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [4]:
s = pd.Series(data=[3,2,4,6], index=['a', 'b', 'c', 'd'])
s

a    3
b    2
c    4
d    6
dtype: int64

In [5]:
import numpy as np
np.nan

nan

In [7]:
s = pd.Series(data=[3,np.nan,4,6], index=['a', 'b', 'c', 'd'])
s

a    3.0
b    NaN
c    4.0
d    6.0
dtype: float64

In [8]:
s = pd.Series([True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [14]:
s = pd.Series(data=np.arange(10,20), index=pd.date_range(start='20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [16]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [21]:
s = pd.Series(data=['python', 'java', 'sql'], name='languages')
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [12]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [18]:
s.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [23]:
s.dtypes

dtype('O')

In [33]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900, 'KGHM': np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [34]:
price['CD Projekt']
price[1]

60.0

In [28]:
price.count()

3

In [35]:
price.value_counts()

1900.0    1
60.0      1
200.0     1
dtype: int64

In [36]:
price.sum()

2160.0

In [37]:
price.min()

60.0

In [38]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [40]:
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [42]:
price.nsmallest(4)

CD Projekt      60.0
Apple          200.0
Amazon        1900.0
dtype: float64

In [43]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [44]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [47]:
prine_pln = price.apply(lambda x: x * 3.8)
prine_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

DataFrame

In [48]:
df = pd.DataFrame(data=[12, 12, 32])
df

    0
0  12
1  12
2  32

In [49]:
df = pd.DataFrame(data=[12, 12, 32], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [50]:
df = pd.DataFrame(data={'WIG20': ['PKN ORLEN', 'PKO BP'], 'mWIG40':  ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [52]:
df.columns

Index(['WIG20', 'mWIG40'], dtype='object')

In [53]:
df.values

array([['PKN ORLEN', 'Amica'],
       ['PKO BP', 'Playway']], dtype=object)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   WIG20   2 non-null      object
 1   mWIG40  2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes

In [55]:
df.describe()

            WIG20 mWIG40
count           2      2
unique          2      2
top     PKN ORLEN  Amica
freq            1      1

Selekcja kolumn

In [56]:
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [57]:
df['WIG20']

0    PKN ORLEN
1       PKO BP
Name: WIG20, dtype: object

In [58]:
df[['WIG20']]

       WIG20
0  PKN ORLEN
1     PKO BP

In [66]:
df.columns = ['a', 'b']
df

           a        b
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [67]:
df.a

0    PKN ORLEN
1       PKO BP
Name: a, dtype: object

In [69]:
df['c'] = df.a + df.b
df

           a        b               c
0  PKN ORLEN    Amica  PKN ORLENAmica
1     PKO BP  Playway   PKO BPPlayway

In [73]:
df.loc[0]

a         PKN ORLEN
b             Amica
c    PKN ORLENAmica
Name: 0, dtype: object

In [74]:
df.iloc[1]

a           PKO BP
b          Playway
c    PKO BPPlayway
Name: 1, dtype: object

In [75]:
df.loc[0, 'a']

'PKN ORLEN'